snippet hw "Creates a homework section" s
\begin{homeworkProblem}[${1:-1}][$2]
$0
\end{homeworkProblem}
endsnippet

snippet m "Create a math section"
$${1:${VISUAL}}$ $0
endsnippet

snippet let "Let statement in a algorithm environment"
\Let{$1}{$2}$0
endsnippet
